In [1]:
import numpy as np
import pandas as pd

In [2]:
m = np.random.randint(1,30, size = (10,3))
df = pd.DataFrame(m , columns = ["var1","var2","var3"])
df

   var1  var2  var3
0     3    10     4
1    26    19     8
2     4    24    14
3    16    15     8
4    18     1     8
5    23     8     3
6    23    16     6
7     4    25     1
8    21    23     8
9    28     9    17

In [6]:
df[df.var1 > 15]["var1"]

1    26
3    16
4    18
5    23
6    23
8    21
9    28
Name: var1, dtype: int32

In [7]:
df[(df.var1 > 15)& (df.var3 <5)]

   var1  var2  var3
5    23     8     3

In [8]:
df.loc[(df.var1 > 15), ["var1","var2"]]

   var1  var2
1    26    19
3    16    15
4    18     1
5    23     8
6    23    16
8    21    23
9    28     9